# Servidor
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# Base de datos (MariaDB local)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=usuario
DB_PASSWORD=contraseña
DB_NAME=cbtomelloso
DB_SYNC=false
DB_LOGGING=false

# JWT
JWT_SECRET=tu_jwt_secret_aqui
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=tu_refresh_secret_aqui
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:4200

# Throttling
THROTTLE_TTL=60000
THROTTLE_LIMIT=60
