<article class="player-card" role="article">
  <div class="player-dorsal">{{ player().dorsal }}</div>
  <div class="player-avatar">
    @if (player().photoUrl) {
      <img [ngSrc]="player().photoUrl!" [alt]="player().name" width="300" height="300" class="player-img" />
    } @else {
      <div class="player-avatar-placeholder">
        <span>{{ (player().name.charAt(0) + player().surname.charAt(0)).toUpperCase() }}</span>
      </div>
    }
  </div>
  <div class="player-info">
    <h3 class="player-name">{{ player().name }} {{ player().surname }}</h3>
    <span class="player-position">{{ player().position }}</span>
  </div>
  @if (player().nationality) {
    <span class="player-nationality">{{ player().nationality }}</span>
  }
</article>
